<h1>Sign-up</h1>

<form action="<%=users_url%>" method="POST">
    <label>username
        <input type="text" name="user[username]" placeholder="name">
    </label>


    <br>
    <label>password
        <input type="password" name="user[password]" placeholder="password">
    </label>
<br>
    <button>sign in, cool cat😻</button>


</form>